html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url(./font/Inter-VariableFont_opsz\,wght.eot), url(./font/Inter-VariableFont_opsz\,wght.otf), url(./font/Inter-VariableFont_opsz\,wght.ttf), url(./font/Inter-VariableFont_opsz\,wght.woff), url(./font/Inter-VariableFont_opsz\,wght.woff2);
}
.list {
  width: 594px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h1 {
  color: #000;
  font-family: "Inter";
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 80px;
  margin-bottom: 33px;
  text-align: center;
}

header {
  gap: 24px;
  display: flex;
  flex-direction: row;
  padding: 24px;
}
header .input {
  max-width: 356px;
  width: 100%;
  height: 38px;
  border-radius: 4px;
  border: 1px solid var(--Stroke-Input, #CED4DA);
  background: var(---Gray-White, #FFF);
  color: var(--Secondary-Dark-Color, #54595E);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 131.25% */
  padding: 9px 32px 8px 13px;
}
header .submit {
  display: flex;
  width: 166px;
  height: 39px;
  padding: 8px 16px;
  align-items: center;
  border-radius: 4px;
  background: #272829;
  color: var(---Gray-White, #FFF);
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #272829;
  cursor: pointer;
  transition: 0.5s;
}
header .submit:active {
  background-color: #fff;
  color: #272829;
}

.hr {
  width: 594px;
  height: 1px;
  background: #DEE2E6;
  border: none;
}

.main {
  display: none;
  padding: 32px 24px;
  padding-bottom: 0;
}
.main .point {
  height: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 26px;
}
.main .point__checkbox {
  margin-right: 16px;
  width: 16px;
  height: 16px;
  margin-top: 3px;
}
.main .point__text {
  margin-right: 38px;
  color: var(--Secondary-Dark-Color, #54595E);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 131.25% */
}
.main .point__button {
  color: #000;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 131.25% */
  border: none;
  cursor: pointer;
}
.main .point__forLeft {
  display: flex;
  flex-direction: row;
}
.main__script {
  display: block;
}

#point__checkbox {
  margin-right: 16px;
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.pointStyle {
  text-decoration-line: line-through;
  opacity: 0.5;
}

.point input:checked ~ .point__text {
  color: #54595E;
  text-decoration-line: strikethrough;
}

.footer {
  padding: 18px 24px;
  border-radius: 0px 0px 16px 16px;
  background: #F5F5F5;
  display: none;
  justify-content: space-between;
  flex-direction: row;
}
.footer .btn1 {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  border-radius: 4px;
  background: var(--Secondary-color, #6C757D);
  color: var(---Gray-White, #FFF);
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 2px solid #6C757D;
  cursor: pointer;
  transition: 0.5s;
}
.footer .btn1:active {
  background-color: #fff;
  color: #6C757D;
}
.footer .deleteAll {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  border-radius: 4px;
  background: var(---Status-Color-Danger, #DC3545);
  color: var(---Gray-White, #FFF);
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 2px solid #DC3545;
  cursor: pointer;
  transition: 0.5s;
}
.footer .deleteAll:active {
  background-color: #fff;
  color: #DC3545;
}
.footer__script {
  display: flex;
}/*# sourceMappingURL=style.css.map */